<launch>

    <arg name="robot_file"/>
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="theta" default="0"/>

    <!-- Adds the robot to the environment -->
    <node name="add_robot"
        pkg="stdr_robot"
        type="robot_handler"
        args="add $(find launchers)/resources/robots/$(arg robot_file).yaml $(arg x) $(arg y) $(arg theta)"/>


</launch>
