<launch>

    <arg name="map_file" default="$(find stdr_resources)/maps/sparse_obstacles.yaml"/>

    <node pkg="nodelet" type="nodelet" name="robot_manager" args="manager">
        <remap from="map" to="stdr/map"/>
    </node>

    <node type="stdr_server_node"
        pkg="stdr_server"
        name="stdr_server"
        output="screen"
        args="$(arg map_file)">
        <remap from="map" to="stdr/map"/>
        <remap from="map_metadata" to="stdr/map_metadata"/>
    </node>

    <node pkg="tf" type="static_transform_publisher" name="world2map" args="0 0 0 0 0 0  world map 100" />

    <node pkg="tf" type="static_transform_publisher" name="world2map_merge" args="6 6 0 0 0 0  world map_merge 100" />

    <node name="$(anon stdr_gui_node)" pkg="stdr_gui" type="stdr_gui_node">
        <remap from="map" to="stdr/map"/>
    </node>

</launch>
